
body{
    background-color: white;
    width: 90%;
    margin: 0 auto;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li  {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(57, 186, 229);
    font-size: 20px;
    font-weight: 600;
    text-transform: inherit;
    letter-spacing: 2px;
    transition: 0.3s;
    
}

li:hover {
    border-radius: 5%;
    background-color: gainsboro;
}
ul{background-color: whitesmoke;}

.alinear{
    margin-right: 250px;
}

.alinear2{
    margin-left: 250px;
}

header{
    text-align: center;
}

header > p{
    font-size: 15px;
}

main{
    display: inline-block;
}

main div{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.imagenes img{
    width: 25%;
    height: 25%;
}